body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.error-msg {
    color: red;
    font-style: bold;
}

.correct-answer {
    background-color: #198754 !important;
    color: #f7f7f7 !important;
}

.question-heading {
    border-bottom: 1px black solid;
}

.display-answer {
    color: rgb(234, 96, 32);
    font-weight: bold;
}